{{ define "main" }}

<section class="hero" id="hero">

    {{ $hero := resources.GetMatch "/assets/imgs/hero.*" }}
    {{ $heroResize := $hero.Resize "800x webp"}}
    <img src="{{ $heroResize.RelPermalink }}" alt="Hero Image" class="hero-image" loading="lazy">

</section>

<section class="intro">
    <p style="text-align: center; font-weight: bold; font-size: 1rem;">
        {{ .Site.Params.meta.description }}
    </p>

    <p style="text-align: center; margin-top: 1rem;">
        <a href="https://github.com/ucd25-cosmos-deeplearners" target="_blank" style="text-decoration: none; color: inherit;">
            <i class="fab fa-github" style="font-size: 1.5rem;"></i>
        </a>
    </p>
</section>

{{ end }}